body
{
	margin:5%;
	font-family: sans-serif;
	color: #333;
	margin:0;
}
ul
{
	list-style-type: none;
}
div.player
{
	top:0;
	left:0;
	right:0;
	overflow: hidden;
	padding-left:28%;
	padding-right: 25%;
	height:100%;
	background-color:#c8d6d1;
	border-bottom: 2px #666 solid;
}

div.player ul li
{
	display: inline-block;
	padding:5%;
}
div.player ul li:hover
{
	background-color:#111;
}

div.browse
{
	margin-left:25%;
	margin-right:25%;
	padding:2%;
	height:500px;
	background-color: #F2F2F2;
	border:2px #666 solid;
	border-top:none;
	text-align:center;

}
div#list
{
	margin-left:25%;
	margin-right:25%;
	padding:2%;
	background-color: #F2F2F2;
	border:2px #666 solid;
	border-top:none;
	text-align:center;
	font-size: 1.2em;
	font-weight: bold;
}
/*Interfaces*/
button
{
	cursor:pointer;
	outline:none;
	border:none;
	width:100px;
	height:100px;
	overflow: hidden;
}

button#playbutton
{
	background: url(images/play.png) no-repeat;
	background-size: 100% 100%;
}
button#previousbutton
{
	background: url(images/previous.png) no-repeat;
	background-size:100% 100%;
}
button#nextbutton
{
	background: url(images/next.png) no-repeat;
	background-size:100% 100%;
}
button#browsebutton
{
	width:150px;
	height:150px;
	background: url(images/drop.png) no-repeat;
	background-size: 100% 100%;
}
button#browsebutton:hover
{
	background-color: #c8d6d1;
	border-radius:6px;
}

.hidden {
    display:none;
}
.button 
{
	margin-left:35%;
	padding:3%;
	width:150px;
	height:150px;
	background: url(images/drop.png) no-repeat;
	background-size: 100% 100%;
	color: #c8d6d1;
}

.button:hover {
    background-color: #c8d6d1;
    cursor: pointer;
}
/*Footer of page*/
#foot
{
	padding:2%;
	background-color:#4C4C4C;
	color:#000;
}
#foot section
{
	font-weight:bold;
	padding-left:7.5%;
	padding-right:7.5%;
	display:inline-block;
}